* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CORES QUE EU PERSONALIZEI */
.bg-purple {
    background-color: purple;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-lightcyan {
    background-color: lightcyan;
}

/* LINKS DO MENU */
.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    color: purple !important;
}